<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List Node</title>
    <link href="../public/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css">
</head>
<body class="container">

    <div class="tarefas">
        <h3>To Do List Node</h3>
        <form class="d-flex" method="post" onsubmit="return validarFormulario()">
            <input type="text" class="form-control" name="task">
            <input type="submit" name="acao" class="btn btn-primary" value="Inserir">
        </form>
        <% for(let i = 0; i < tasksList.length; i++) { %> 
            
            <p><%= tasksList[i] %> | <a href="/deletar/<%= i %>"><i class="bi bi-trash"></i></a></p>
        
        <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <script>
        function validarFormulario() {
            var tarefa = document.getElementsByName("task")[0].value;
            if (tarefa.trim() === '') {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Por favor, preencha a tarefa antes de enviar.",
                });
                return false;
            };
            return true;
        };
    </script>
</body>
</html>